[submodule "plugin/jetbrains"]
	path = plugin/jetbrains
	url = git@github.com:AISE-TUDelft/coco-jetbrains.git
  branch = main
[submodule "plugin/vscode"]
	path = plugin/vscode
	url = git@github.com:AISE-TUDelft/coco-vscode.git
  branch = main
