fastapi~=0.111.0
starlette~=0.37.2
pydantic~=2.7.1
fastapi-limiter~=0.1.6
pydantic_settings

psycopg2-binary 
SQLAlchemy~=2.0.30

torch
langchain~=0.2.6
langchain-community
vllm

pytest~=8.2.2
testcontainers~=4.7.1
pytest-postgresql